body {
   margin: 0;
   background-image: url("background.jpg");
   text-align: left; white-space: 30x;
   display: inline-block;


    
}


content {
    margin: 0;
    text-decoration: none;
    text-emphasis-color: #0e0e0e;
    align-items: center;
}

.homebutton {
    font-family: "Robot",sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    display: block;
    margin-bottom: 30px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    text-decoration: none;
    border: 5px solid rgb(255, 255, 255);
    border-width: 5px;
    border-radius: 25px;
}


.homebutton:hover, .homebutton:focus, .homebutton:active{ 
    border-width: 7px;
    color:#ffff; 
    cursor: pointer;
    width: 110%; 
    -webkit-transform:scale(1.1);
    transform: scale(1.1)
}


.Docs {
    font-family: "Robot",sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    display: block;
    margin-bottom: 30px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    text-decoration: none;
    border: 5px solid rgb(255, 255, 255);
    border-width: 5px;
    border-radius: 25px;
}


.Docs:hover, .Docs:focus, .Docs:active{
    border-width: 7px;
    color:#ffff; 
    cursor: pointer;
    width: 110%; 
    -webkit-transform:scale(1.1);
    transform: scale(1.1)
}


.Help {
    font-family: "Robot",sans-serif;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    display: block;
    margin-bottom: 30px;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    text-decoration: none;
    border: 5px solid rgb(255, 255, 255);
    border-width: 5px;
    border-radius: 25px;
}


.Help:hover, .Help:focus, .Help:active{
    border-width: 7px;
    color:#ffff; 
    cursor: pointer;
    width: 110%; 
    -webkit-transform:scale(1.1);
    transform: scale(1.1)
}


.about {
    text-align: bottom;
    color: white;
}